<div class="container">
    <div class="well">
        <form name="changePasswordForm" class="form-horizontal">
            <fieldset>
                <legend>Change Password</legend>
                <div class="form-group">
                    <label for="username" class="col-md-2 control-label">Username</label>
                    <div class="col-md-10">
                        <input id="username" type="text" ng-disabled="true" value="{{username}}" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="oldPassword" class="col-md-2 control-label">Old Password</label>
                    <div class="col-md-10">
                        <input id="oldPassword" type="password" ng-model="information.OldPassword" required="required" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="newPassword" class="col-md-2 control-label">New Password</label>
                    <div class="col-md-10">
                        <input id="newPassword" type="password" ng-model="information.NewPassword" required="required" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="confirmPassword" class="col-md-2 control-label">Confirm password</label>
                    <div class="col-md-10">
                        <input id="confirmPassword" type="password" ng-model="information.ConfirmPassword" required="required" class="form-control" />
                    </div>
                </div>

                <div class="pull-right">
                    <button ng-click="changePassword(information)" ng-disabled="changePasswordForm.$invalid" class="btn btn-primary">
                        Change
                    </button>
                    <a href="#/" class="btn btn-primary">Cancel</a>
                </div>
            </fieldset>
        </form>
    </div>
</div>