<div login-menu ng-hide="identity.isAuthenticated()"></div>

<div class="container">
    <div class="jumbotron text-center">
        <h1>Welcome to Issue Tracking System</h1>
        <h2>Projects, Issues and Labels - All together!</h2>
    </div>

    <div ng-show="identity.isAuthenticated()">
        <div class="row jumbotron">
            <h3 class="text-center"><strong>Statistics</strong></h3>
            <div class="col-md-4 text-center">
                <div>
                    <strong>Users</strong>
                </div>
                <div>
                    <span>{{stats.totalUsersCount}}</span>
                </div>
            </div>

            <div class="col-md-4 text-center">
                <div>
                    <strong>Projects</strong>
                </div>
                <div>
                    <span>{{stats.projectsCount}}</span>
                </div>
            </div>

            <div class="col-md-4 text-center">
                <div>
                    <strong>Issues</strong>
                </div>
                <div>
                    <span>{{stats.issuesAllCount}}</span>
                </div>
            </div>
        </div>

        <div class="col-lg-8">
            <div class="panel panel-primary text-center">
                <div class="panel-heading">
                    <h3 class="panel-title">Issues</h3>
                </div>
                <div class="panel-body">
                    <div all-issues></div>
                    <span ng-repeat="p in [] | range:totalPages">
                        <button ng-click="selectedPage(p)" class="btn bg-primary">{{p + 1}}</button>
                    </span>
                    <br>

                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="panel panel-primary text-center">
                <div class="panel-heading">
                    <h3 class="panel-title">Affiliated Projects</h3>
                </div>
                <div class="panel-body">
                    <div ng-hide="projects && projects.length > 0">No projects</div>
                    <div ng-show="projects && projects.length > 0" all-projects/>
                </div>
            </div>
        </div>
    </div>
</div>

